.mainInfoObjQuiz {
    width: 90%;
    height: 70vh;
    margin: 1.5% 0 0 5%;
    background-color: rgba(255, 255, 255, 0.800);
    border-radius: 30px;
    box-shadow: 0px 0px 15px rgb(165, 164, 164);

    &__AskAns {
        position: absolute;
        width: 90%;
        top: 25%;
        text-align: center;
    }

    &__AskAns--wrong {
        position: absolute;
        top: 58%;
        left: 31%;
        font-size: 2rem;
        color: red;
        font-weight: bold;
    }

    &__AskAns--correct {
        position: absolute;
        top: 58%;
        left: 62%;
        font-size: 2rem;
        color: green;
        font-weight: bold;
    }

    &__AskAns--question {
        font-size: 3rem;
        width: 90%;
        margin-left: 5%;
    }

    &__AskAns--answers {
        display: flex;
        flex-direction: column;
        width: 20%;
        margin: 5% 0 0 40%;
    }



    &__AskAns--choose {
        font-family: 'Architects Daughter', cursive;
        font-weight: bold;
        border: none;
        background: rgb(139, 236, 155);
        border-radius: 30px;
        font-size: 1.7rem;
        margin: 2.5%;
        padding: 2%;
        outline: none;
    }

    &__AskAns--choose:hover {
        background: rgb(218, 230, 116);
        transition: 0.2s;
    }

    &__btnNext {
        font-family: 'Architects Daughter', cursive;
        position: absolute;
        padding: 0.5% 2.5%;
        top: 78%;
        left: 84%;
        border-radius: 17px;
        border: none;
        font-size: 1.5rem;
        font-weight: bold;
        background-color: rgb(71, 223, 185);
        color: black;
        outline: none;
    }

    &__btnNext:hover {
        background-color: rgb(29, 240, 134);
        transition: 0.2s;
    }

    &__timer {
        position: absolute;
        top: 72%;
        left: 9%;
        width: 6%;
        font-size: 3.5rem;
        padding: 0.5% 1.5%;
        border: 1px solid black;
        border-radius: 100px;
        text-align: center;
    }

    &__btnFinish {
        position: absolute;
        top: 78%;
        left: 84%;
        background-color: rgb(71, 223, 185);
        padding: 0.5% 2.5%;
        border-radius: 17px;
        font-size: 1.5rem;
        font-weight: bold;
        text-decoration: none;
        color: black;
        outline: none;
    }
}

//1100px
@media only screen and (max-width: 1100px) {
    .mainInfoObjQuiz {
        height: 85vh;
        border-radius: 40px;

        &__AskAns {
            width: 90%;
            top: 18%;
        }

        &__AskAns--wrong {
            top: 74%;
            left: 5%;
            font-size: 2.5rem;
        }

        &__AskAns--correct {
            top: 73%;
            left: 78%;
            font-size: 2.5rem;
        }

        &__AskAns--question {
            font-size: 4.5rem;
        }

        &__AskAns--answers {
            width: 58%;
            margin: 3% 0 0 20%;
        }

        &__AskAns--choose {
            border-radius: 40px;
            font-size: 3rem;
            margin: 2%;
            padding: 1.4%;
        }

        &__btnNext {
            padding: 0.5% 2.5%;
            top: 91%;
            left: 78%;
            border-radius: 20px;
            font-size: 2.5rem;
        }

        &__timer {
            top: 89%;
            left: 8%;
            width: 15%;
            font-size: 4rem;
        }

        &__btnFinish {
            top: 91%;
            left: 78%;
            border-radius: 20px;
            font-size: 2.5rem;
        }
    }
}

//800px
@media only screen and (max-width: 800px) {
    .mainInfoObjQuiz {
        width: 95%;
        height: 80vh;
        margin: 1.5% 0 3% 2.5%;

        &__AskAns {
            top: 18%;
        }

        &__AskAns--wrong {
            top: 70%;
            left: 6%;
            font-size: 2rem;
        }

        &__AskAns--correct {
            top: 70%;
            left: 82%;
            font-size: 2rem;
        }

        &__AskAns--question {
            font-size: 3rem;
            margin-left: 7.5%;
        }

        &__AskAns--answers {
            margin: 3% 0 0 22%;
        }

        &__AskAns--choose {
            font-size: 2rem;
        }

        &__btnNext {
            top: 87%;
            left: 77%;
        }

        &__timer {
            top: 86%;
            left: 6%;
            width: 15%;
            font-size: 3rem;
        }

        &__btnFinish {
            top: 87%;
            left: 77%;
        }
    }
}

//450px
@media only screen and (max-width: 450px) {
    .mainInfoObjQuiz {
        width: 95%;
        &__AskAns {
            top: 18%;
        }

        &__AskAns--wrong {
            top: 72%;
            left: 6%;
            font-size: 1.1rem;
        }

        &__AskAns--correct {
            top: 72%;
            left: 81%;
            font-size: 1.1rem;
        }

        &__AskAns--question {
            font-size: 1.8rem;
            margin-left: 8%;
        }

        &__AskAns--answers {
            margin: 3% 0 0 24%;
        }

        &__AskAns--choose {
            font-size: 1.4rem;
        }

        &__btnNext {
            top: 89%;
            left: 70%;
            font-size: 1.7rem;
        }

        &__timer {
            top: 88%;
            left: 6%;
            width: 22%;
            font-size: 2rem;
        }

        &__btnFinish {
            top: 89%;
            left: 70%;
            font-size: 1.7rem;
        }
    }
}