.mainInfoObj {
    width: 90%;
    height: 70vh;
    margin: 1.5% 0 0 5%;
    background-color: rgba(255, 255, 255, 0.800);
    border-radius: 30px;
    box-shadow: 0px 0px 15px rgb(165, 164, 164);
    &__AllText{
        position: absolute;
        top: 22%;
        left: 27%;
        text-align: center;
    }
    &__header{
        font-size: 4rem;
    }
    &__parag{
        font-size: 2.5rem;
    }
}

.btnGotIt {
    position: absolute;
    font-size: 2rem;
    top: 120%;
    left: 43%;
    background-color: rgba(46, 243, 46, 0.582);
    color: black;
    padding: 1%;
    border-radius: 20px;
    text-decoration: none;
    &:hover {
        background-color: rgba(0, 248, 0, 0.767);
    }
}